@font-face {
    font-family: 'universPro';
    src: url('fonts/Univers\ Next\ Typewriter\ Pro\ Regular.ttf');
}

@font-face {
    font-family: 'arabotoBlack';
    src: url(fonts/Araboto\ Black\ 400.ttf);
}
  
  @font-face {
    font-family: 'arabotoNormal';
    src: url(fonts/Araboto\ Normal\ 400.ttf);
}
  
  @font-face {
    font-family: 'arabotoLight';
    src: url('fonts/Araboto\ Light\ 400.ttf');
}
  
  @font-face {
    font-family: 'arabotoThin';
    src: url('fonts/Araboto\ Thin\ 400.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: #26d100;
    text-decoration: underline;
    font-weight: bold;
}

body , html {
    overflow-x: hidden;
    background-color: black;
    color: whitesmoke;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 20px;
    max-width: 1220px;
    color: whitesmoke;
    z-index: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-right: auto;
    margin-left: 30px;
    margin-top: 10PX;
}

.name {
    font-family: 'arabotoThin';
    font-size: 3vmin;
}

.last-name {
    font-family: 'arabotoNormal';
    font-size: 3vmin;
}

.nav-links {
    margin-top: 10PX;
    font-size: 1.6vmin;
    font-family: 'arabotoNormal';
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

/* .header-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(/foto/home-img.png);
    opacity: 0.2;
    background-position: bottom;
    display: flex;
    padding: 0;
    justify-content: center;
    flex-direction: column-reverse;
} */

.header {
    display: flex;
    margin-top: -2%;
}

.header-content {
    width: 47%;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 12%;
    margin-top: 8%;
    align-items: flex-start;
}

.receive {
    font-family: 'universPro';
    margin-bottom: 3%; 
    color: whitesmoke; 
}
  
.principal-title{
    text-shadow: rgb(0, 0, 0) 1px 2px 7px;
    font-family: 'arabotoThin';
    font-size: 50px;
    line-height: 65px;   
    color: whitesmoke;
}

.bold { 
    font-family: 'arabotoLight';
    animation: header-animate 3s linear infinite;
}

@keyframes header-animate {
    0%{
      opacity: 1;
      color: white;
    }
    50%{
      opacity: 1;
      color: rgb(0, 255, 60);  }
    100%{
      opacity: 1;
      color: white;
    }
  }

.header-content p {
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 0;
    font-family: 'arabotoLight';
    color: whitesmoke;
}

.hero img {
    position: absolute;
    padding-top: 11%;
    width: 525px;
    margin: 0 -90px;
    opacity: 0.8;
}

.wave {
    position: absolute;
    background-image: url(/img/wave.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    left: 0;
    height: 50vh;  
    width: 100vw;
    max-width: 100%;
    filter:drop-shadow(0 0 10px rgb(66, 107, 58));
}

.ctn {
    padding: 8px 15px;
    background: #0aac1d;
    border-radius: 30px;
    color: black;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #484872;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin-top: 50px;
}

.events {
    display: flex;
    flex-direction: column;
}

h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p {
    color: #7c7c7c;
    padding: 0px 40px;
}

.events .ctn {
    margin-top: 30px;
}

.work-section {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 9%;
}

.work-container {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.work-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.open-source {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'arabotoBlack';
    font-size: 12vmin;
    opacity: 0.2;
}

.work-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'arabotoThin';
    font-size: 5vmin;
    margin-top: -71px;
    opacity: 0.7;
}

.work-text {
    text-align: center;    
    margin-top: 30px;
}

.line-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 50px;
}

.line {
    width: 70px;
    height: 4px;
    background: #e1dee0;
    margin: 10px;
    border-radius: 5px;
}

#red {
    background: red;
}

#orange {
    background: rgb(245, 119, 9);
}

#yellow {
    background: rgb(255, 208, 0);
}

#green {
    background: green;
}

#blue {
    background: rgb(25, 117, 187);
}

#purple {
    background: purple;
}

#pink {
    background: rgb(233, 54, 135);
}

#brown {
    background: rgb(81, 15, 15);
}



.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
}

/* Mobile device */
@media only screen and (max-width:850px) {
    .menu-btn {
        margin-top: 10px;
        display: block;
    }

    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #284b27;
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30% ;
    }

    .nav-links li {
        margin: 30px auto;
    }

    .row {
        flex-direction: column;
    }

    .row .col {
        margin: 20px auto;
    }

    .col img {
        max-width: 90%;
    }

    .explore-content {
        width: 100%;
    }

    .tours .col {
        width: 100%;
    }
    
    .image-gallery {
        justify-content: center;
        align-items: center;
    }

    .image-gallery img {
        width: 90%;
    }

    .footer {
        padding: 10px;
    }

    /* Animations */
    /* img {
        transition: transform .3s ease;
    }

    img:hover {
        transform: scale(1.1);
    } */

    .ctn:hover {
        background: whitesmoke;
        color: #fc036b;
        box-shadow: 2px 2px 5px #00000056;
    }

    li:hover {
        color: #fc036b;
        cursor: zoom-out;
    }
}